@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root { /*variáveis globais*/

  --primary-color: rgb(17, 86, 102);
  --second-color: rgba(13, 106, 134, 0.695);
  --primary-color-darker: rgb(9, 48, 56);
  --second-color-button: bisque;
  --paragrafo-color-resultado: aquamarine;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: var(--primary-color);
  font-family:'Open sans', sans-serif;
  font-size:1.3em;
}

.celula {
  text-align: left;
  margin:10px;
  padding-right: 70px;
}

.container {
  background-color:#ffffff;
  max-width: 640px;
  margin: 150px auto;
  padding: 20px;
  border-radius: 15px;
}

.paragrafo-resultado {
  background-color: var(--paragrafo-color-resultado);
  padding: 10px 20px;
  border-radius:15px;
}

.paragrafo-invalido {
  background-color: rgba(244, 28, 28, 0.356);
  padding: 10px 20px;
  border-radius: 15px;
}

button {
  width:100%; /* estender o button*/
  background-color: var(--paragrafo-color-resultado);
  border-radius: 10px;
  border: none; /*Remove a borda padrão*/
  outline: none; /* Remove o contorno de foco (aquela linha azul)*/
  padding: 10px;
}